*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 25px;
    font-family: Calibri, sans-serif;

    color: rgb(53, 55, 75);
}

.container {
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 8px;

    overflow: auto;
}

.title {
    margin-bottom: 20px;

    text-align: center;
    font-weight: bold;
    text-transform: uppercase;

    color: rgb(52, 73, 85);
}