.map-builder__inner {
    width: max-content;
    margin: 0 auto;
}

.map-builder__cell {
    width: 32px;
    height: 32px;

    text-align: center;

    border: 1px solid grey;
    border-radius: 0;

    outline: none;
}
