.map-size__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 15px auto;
}

.map-size__inputs {
    display: flex;
    padding: 10px 20px;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.map-size__input-block {
    display: flex;
    flex-direction: column;
}

.map-size__label {
    margin-right: 10px;
    margin-bottom: 3px;
    margin-top: 3px;

    text-align: right;
}

.map-size__input {
    width: 65px;
    margin-bottom: 3px;
    margin-top: 3px;

    text-align: center;

    border: 1px solid black;
    border-radius: 0;

    outline: none;
}